@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(16, 24, 39);
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

.shadow {
  filter: drop-shadow(0 0 8.75rem #49b69f);
}

.shadowBlue {
  filter: drop-shadow(0 0 5.75rem #00b1ff);
}
